.board button {
  width: 100px;
  height: 100px;
  background-color: grey;
  border-radius: 50%;
  border: 3px solid black; /*this gets rid of bootstrap shadow*/
  margin: 1px;
}

td{
  background-color: #fcfa7e;
}
