html{
  scroll-behavior: smooth;
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

p{
  font-family: 'Manrope', sans-serif;
}

a {
  color: #d1e3ff !important;
  text-decoration: none;
}

.background{
  padding-top:30px;
  background-color: #1f1f1f;
  padding-bottom: 100px;
}

.heading{
  color: #d1e3ff;
  font-size: 44px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  margin: 10px 280px 10px 280px;
  border-bottom: 4px solid #d1e3ff;
  padding-top: 100px;
}

/* HOME */
.name{
  color: #d1e3ff;
  font-size: 110px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 110px 0px 30px 0px;
}

.home{
  margin-left: 22%;
  margin-right: 22%;
  text-align: center;
  color: #d1e3ff;
  font-family: 'Manrope', sans-serif;
}

#bio{
  margin-top: 30px;
}

#headshot{
  border-radius: 50%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.headshotWrapper{
  margin: 30px 0 30px 0;
}

#resumeBtn{
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: #343A50;
  color: #d1e3ff;
  border: 2px solid #d1e3ff;
  transition: 0.3s;
  font-weight: 600;
  font-size: 18px;
}

#resumeBtn:hover{
  background-color: #d1e3ff;
  color: #343A50;
  border: 2px solid #343A50;
}

.seeMoreBtn{
  margin: 60px 0 120px 0;
}

#moreBtn{
  transition: 0.3s;
}

#moreBtn:hover{
  color: #429bed;
  cursor: pointer;
  transform: translateY(5px);
}

/* NAVBAR */
.navigation{
  font-family: 'Montserrat', sans-serif;
  color: #d1e3ff !important;
  background-color: #101114;
  border-bottom: 2px solid #d1e3ff;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 15px 350px 6px 350px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

#link{
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
}

/* SKILLS */
.skillContainer{
  margin: 20px 350px 50px 350px;
}

.qualityWrapper{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  margin-top: 40px;
}

.qualityRow{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
}

.quality{
  text-align: center;
  padding: 30px;
}

#qualityIcon{
  color: white;
  transform: translateY(30px);
}

.hexagon{
  background-color: #429bed;
  display: inline-block;
  height: 100px;
  width: 58px;
}

.hexagon2{
  background-color:#429bed;
  height: 100px;
  width: 58px;
  transform: rotateZ(60deg);
}

.hexagon3{
  background-color: #429bed;
  height: 100px;
  width: 58px;
  transform: rotateZ(60deg);
}

.hexagon4{
  background-color: #429bed;
  transform: rotateZ(240deg);
  height: 100px;
  width: 58px;
}

.qualityTitle{
  color: #d9d9d9;
  font-family: 'Manrope', sans-serif;
  font-weight: 1000;
  font-size: 26px;
  margin-top: 16px;
  text-align: left;
  border-bottom: 2px solid #d1e3ff;

}

.qualityBio{
  color: #d9d9d9;
  font-family: 'Manrope', sans-serif;
  text-align: right;
  font-size: 16px;
}

.techincalSkillsWrapper{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 4fr  6fr;
}

.skillNote{
  color: #d9d9d9;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  margin: 30px;
}

.skillList{
  margin-left: auto;
  margin-right: 0;
}

.skillTitle{
  color: #d9d9d9;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
  border-bottom: 2px solid #d1e3ff;
}

.skillItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 20px;
  padding-right: 50px;
}

.skill{
  color: white;
  background-color: #429bed;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 30px;
  transition: 0.3s;
  text-shadow: 2px 2px 5px #1f1f1f;
}

.skill:hover{
  transform: translateY(-7px);
}

/* PROJECTS */

#projectNote{
  margin: 40px 0  0 300px;
  font-family: 'Manrope', sans-serif;
  color: #d9d9d9;
  font-size: 24px;
}

.projectContainer{
  margin: 20px 0px 10px 0px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  padding: 0px 400px 40px 400px;
  gap: 2em;
}

.projectCard{
  border-radius: 15px;
  border: 1px solid  #d9d9d9;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.projectCard a{
  text-decoration: none;
}

.projectCard:hover{
  transform: translateY(-10px);
  background-color: #2e2e2e;
}

#projectImage{
  width: 100%;
  border-radius: 14px 14px 0 0;
}

.projectHeading{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d1e3ff;
  overflow: hidden;
}

.projectName{
  font-family: 'Manrope', sans-serif;
  margin-right: 3px;
  margin-bottom: 2px;
  font-weight: 800;
}

.projectNameLash{
  font-family: 'Manrope', sans-serif;
  margin-right: 3px;
  margin-bottom: 2px;
  font-weight: 800;
  font-size: 22px;
}

.projectDate{
  font-family: 'Manrope', sans-serif;
  margin-bottom: 0;
  font-size: 14px;
  text-align: right;
}

.projectBio{
  text-align: right;
  margin-bottom: 0;
}

.projectInfo{
  color:  #d9d9d9;
  padding: 25px;
  border-radius: 0 0 15px 15px;
}

/* CERTIFICATIONS */
.certNote{
  margin: 40px 0  0 300px;
  font-family: 'Manrope', sans-serif;
  color: #d9d9d9;
  font-size: 24px;
}

.certContainer{
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  padding: 0 0 4px 0;
  gap: 2em;
  margin: 20px 380px 0px 380px;
}

#cert{
  width: 100%;
  border-radius: 5px;
}

.certItem{
  transition: 0.3s;
}

.certItem:hover{
  transform: translateY(-10px);
}

.certTitle{
  color: #d9d9d9;
  font-family: 'Manrope', sans-serif;
  text-align: right;
  margin-top: 10px;
  border-bottom: 2px solid #d1e3ff;
  font-weight: 700;
}

.certBio{
  color: #d9d9d9;
  font-family: 'Manrope', sans-serif;
  text-align: right;
}

/* FOOTER */

.footer{
  background-color: #101114;
  color: #d1e3ff;
  font-family: 'Manrope', sans-serif;
}

#goUpIcon{
  transform: translateY(-15px);
  transition: 0.3s;
}

#goUpIcon:hover{
  color:#429bed;
}

.contactWrapper{
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

#logo{
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.3s;
}

#logo:hover{
  transform: translateY(-10px);
  color: #429bed;
  cursor: pointer;
}

.copyright{
  display: flex;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 20px;
}

#copyName{
  color: #7d7d7d;
  margin-right: 5px;
}


/* MOBILE */
@media only screen
  and (max-device-width: 600px) {
    .heading{
      font-size: 100px;
      font-weight: 800;
      margin: 10px 50px 10px 50px;
      border-bottom: 8px solid #d1e3ff;
    }
    /* HOME */
    hr {
      margin-left: 3%;
      margin-right: 3%;
    }
    .name{
      margin: 250px 0px 60px 0px;
      font-size: 100px;
    }
    .home{
      margin-left: 5%;
      margin-right: 5%;
    }
    #bio{
      margin-top: 15px;
      font-size: 36px;
    }
    #headshot{
      height: 380px;
    }
    .headshotWrapper{
      margin: 120px 0 50px 0;
    }
    #resumeBtn{
      width: 250px;
      height: 100px;
      font-weight: 600;
      border-radius: 50px;
      font-size: 30px;
    }
    .seeMoreBtn{
      margin: 150px 0 100px 0;
    }
    /* NAV */
    .navigation{
      border-bottom: 2px solid #d1e3ff;
      padding: 30px 35px 25px 35px;
    }
    
    #link{
      font-size: 30px;
    }
    /* SKILLS */
    .skillContainer{
      margin: 170px 30px 100px 30px;
    }
    .qualityRow{
      display: block;
    }
    .qualityTitle{
      font-size: 44px;
    }
    .qualityBio{
      font-size: 26px;
    }
    .techincalSkillsWrapper{
      display: block;
      margin-bottom: 300px;
    }
    .skillNote{
      text-align: center;
      margin: 120px 0 100px 0;
    } 
    #noteSkill{
      font-size: 60px;
    }
    .skillList{
      margin: 0 30px;
    }   
    .skillTitle{
      font-size: 46px;
    } 
    .skill{
      font-size: 28px;
    }
    /* PROJECT */
    #projectNote{
      margin: 40px 70px 0 70px;
      font-size: 42px;
      text-align: center;
    }
    .projectContainer{
      margin: 20px 0 200px 0;
      display: block;
      padding: 0px 70px 40px 70px;
      gap: 2em;
    }
    .projectCard{
      margin-top: 50px;
    }
    .projectName{
      font-size: 42px;
    }
    .projectNameLash{
      font-size: 42px;
    }
    
    .projectDate{
      font-size: 24px;
    }
    
    .projectBio{
      font-size: 28px;
    }

    /* CERT */
    .certNote{
      margin: 20px 60px 0 60px;
      font-size: 42px;
      text-align: center;
    }
    .certContainer{
      display: block;
      justify-content: center;
      margin: 40px 70px 0px 70px;
    }
    .certTitle{
      font-size: 50px;
    }
    .certBio{
      font-size: 30px;
    }
    .certItem{
      margin-bottom: 150px;
    }
    #cert{
      border-radius: 15px;
    }

    /* FOOTER */
    .copyright{
      font-size: 30px;
    }
    #thanks{
      font-size: 34px;
      font-weight: 700;
    }
    #thanks2{
      font-size: 26px;
    }
    #logo{
      font-size: 130px;
    }
}


/* ON TABLET */
@media (min-device-width: 601px) and (max-width: 1000px) {
  .heading{
    margin: 10px 50px 10px 50px;
    padding-top: 64px;
  }
  /* HOME */
  hr {
    margin-left: 10%;
    margin-right: 10%;
  }
  .name{
    font-size: 100px;
    margin: 140px 0px 16px 0px;
  }
  .home{
    margin-left: 12%;
    margin-right: 12%;
  }
  #bio{
    margin-top: 30px;
    font-size: 26px;
  }
  #headshot{
    height: 220px;
  }
  .headshotWrapper{
    margin: 50px 0 30px 0;
  }
  #resumeBtn{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
  }
  .seeMoreBtn{
    margin: 80px 0 80px 0;
  }
  /* NAV */
  .navigation{
    padding: 15px 70px 6px 70px;
  }
  #link{
    font-size: 24px;
  }
  /* SKILLS */
  .skillContainer{
    margin: 20px 52px 100px 52px;
  }
  .quality{
    padding: 20px;
  }
  .skillNote{
    font-size: 22px;
  }
  .techincalSkillsWrapper{
    grid-template-columns: 3fr 7fr;
  }
  /* PROJECTS */
  #projectNote{
    margin: 20px 60px 0 60px;
    font-size: 26px;
  }
  .projectContainer{
    padding: 10px 52px 40px 52px;
    grid-template-columns: 5fr 5fr;
  }

  /* CERT */
  .certNote{
    margin: 20px 60px 0 60px;
    font-size: 26px;
  }
  .certContainer{
    grid-template-columns: auto auto;
    padding: 0 10px 40px 10px;
    gap: 2em;
    margin: 20px 52px 0px 52px;
  }
  #cert{
    width: 100%;
  }
}


/* ON MAC */
@media (min-device-width: 1001px) and (max-width: 1600px) {
  .heading{
    margin: 10px 100px 10px 100px;
    padding-top: 64px;
  }
  /* HOME */
  hr {
    margin-left: 10%;
    margin-right: 10%;
  }
  .name{
    font-size: 90px;
    margin: 20px 0px 16px 0px;
  }
  .home{
    margin-left: 12%;
    margin-right: 12%;
  }
  #bio{
    margin-top: 15px;
    font-size: 18px;
  }
  #headshot{
    height: 150px;
  }
  .headshotWrapper{
    margin: 20px 0 20px 0;
  }
  #resumeBtn{
    width: 120px;
    height: 35px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
  }
  .seeMoreBtn{
    margin: 20px 0 90px 0;
  }
  /* NAV */
  .navigation{
    padding: 15px 160px 6px 160px;
  }
  /* SKILLS */
  .skillContainer{
    margin: 20px 120px 50px 120px;
  }
  .quality{
    padding: 20px;
  }
  .skillNote{
    font-size: 22px;
  }
  /* PROJECTS */
  #projectNote{
    margin: 40px 0  0 100px;
  }
  .projectContainer{
    padding: 10px 200px 40px 200px;
    gap: 2em;
  }

  /* CERT */
  .certNote{
    margin: 40px 0  10px 90px;
    font-family: 'Manrope', sans-serif;
    color: #d9d9d9;
    font-size: 24px;
  }
  .certContainer{
    margin: 20px 110px 0px 110px;
    padding: 0 0 40px 0;
    gap: 1em;
  }
  #cert{
    width: 100%;
  }
}
