html{
  scroll-behavior: smooth;
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navigation {
  font-family: 'Montserrat', sans-serif;
  color: #d1e3ff !important;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-left: 22%;
  margin-right: 22%;
}

hr {
  background-color: #d1e3ff !important;
  margin-left: 20%;
  margin-right: 20%;
}

h3 {
    color: #d1e3ff;
}

#name {
  color: #d1e3ff;
  font-size: 600%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
}

.home {
  margin-left: 28%;
  margin-right: 28%;
  text-align: center;
  color: #d1e3ff;
  font-family: 'Manrope', sans-serif;
}

#button {
  color: #001f5c;
  font-family: 'Manrope', sans-serif;
}

#headshot{
  border-radius: 50%;
  height: 200px
}

.title {
  color: #d1e3ff;
  font-size: 400%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 10%;
}

.jumbotron{
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.5) !important;
  margin-left: auto;
  margin-right: auto;
  background: rgba(48, 50, 54, 0.6) !important;
  text-align: center;
  color: #d1e3ff;
  font-family: 'Manrope', sans-serif;
}

#cert{
  width: 50%;
}

ul {
  text-align: left;
}

a {
  color: #d1e3ff !important;
  text-decoration: none;
}

#icons {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


/* ON MOBILE */
@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 812px) {
    .navigation {
      margin-left: 13%;
      margin-right: 13%;
    }
    hr {
      margin-left: 11%;
      margin-right: 11%;
    }
    #link{
      font-size: 120%;
    }
    .home {
      margin-left: 14%;
      margin-right: 14%;
    }
    .jumbotron{
      width: 95%;
      font-size: 150%;
    }
    #bio{
      font-size: 200%;
    }
    body {
      background-image: url('background2.jpg');
    }
    strong {
      font-size: 200%;
    }
    #rowspace{
      margin-top: 6%;
    }
    #cert{
      width: 80%;
    }
}



/* ON MAC */
@media (min-device-width: 1100px) and (max-device-width: 1600px) {
  #name {
    font-size: 550%;
    margin-top: 0%;
    margin-bottom: 1%;
  }
  #headshot{
    border-radius: 50%;
    height: 150px
  }
  .home{
    margin-left: 19%;
    margin-right: 19%;
  }
  #bio{
    font-size: 96%;
  }
  .navigation {
    margin-left: 24%;
    margin-right: 24%;
  }
  hr {
    margin-left: 22%;
    margin-right: 22%;
  }
  #link {
    font-size: 90%;
  }
}
